.resetbody{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:aqua; */
    background-image: url("https://png.pngtree.com/background/20210709/original/pngtree-medical-biological-technology-doctors-picture-image_917667.jpg");
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resetmain{
    background-color:white;
    padding: 1rem 3rem;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
    border-top: rgb(80, 98, 255) 0.5rem solid;
    box-shadow: 0px 5px 15px 5px #000000
    
  
    
}
.resetform {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }
  
  .resetform_main {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
input {
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid gray;
    font-size: 1.1rem;
  }
  .register_button{
    background-color: rgb(80, 98, 255);
    color: white;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0.3rem;
  }
  /* span  {
    text-decoration: none;
    color: rgb(80, 98, 255);
  } */